/*========================================================
=            セットアップ用サンプルスタイリング    　　　　     =
========================================================*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
	margin: 0;
	padding: 0;
	/*background: #fafafa;*/
	font-family: YuGothic, 'Yu Gothic', 游ゴシック体, 游ゴシック, 'ヒラギノ角ゴ Pro W3',
		'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', Osaka,
		'MS PGothic', Arial, Helvetica, Verdana, sans-serif;
}

header {
	margin: 100px 20px 80px;
	text-align: center;
	border-bottom: 1px solid #e1e1e1;
}

@media only screen and (min-width : 768px) {
	/* Make Navigation Toggle on Desktop Hover */
	#example2 .dropdown:hover .dropdown-menu, #example3 .dropdown:hover .dropdown-menu
		{
		display: block;
	}
}

.navbar {
	background-color: rgba(240, 150, 9, 1);
}

.navbar .navbar-brand {
	color: #ffffff;
}

.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
	color: #ffffff;
}

.navbar .navbar-text {
	color: #ffffff;
}

.navbar .navbar-nav .nav-link {
	color: #ffffff;
	border-radius: .25rem;
	margin: 0 0.25em;
}

.navbar .navbar-nav .nav-link:not (.disabled ):hover, .navbar .navbar-nav .nav-link:not
	 (.disabled ):focus {
	color: #ffffff;
}

.navbar .navbar-nav .nav-item.active .nav-link, .navbar .navbar-nav .nav-item.active .nav-link:hover,
	.navbar .navbar-nav .nav-item.active .nav-link:focus, .navbar .navbar-nav .nav-item.show .nav-link,
	.navbar .navbar-nav .nav-item.show .nav-link:hover, .navbar .navbar-nav .nav-item.show .nav-link:focus
	{
	color: #ffffff;
	background-color: #ffffff;
}

.navbar .navbar-toggle {
	border-color: #ffffff;
}

.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
	background-color: #ffffff;
}

.navbar .navbar-toggle .navbar-toggler-icon {
	color: #ffffff;
}

.navbar .navbar-collapse, .navbar .navbar-form {
	border-color: #ffffff;
}

.navbar .navbar-link {
	color: #ffffff;
}

.navbar .navbar-link:hover {
	color: #ffffff;
}

@media ( max-width : 575px) {
	.navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
		color: #ffffff;
	}
	.navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
		.navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus
		{
		color: #ffffff;
	}
	.navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active
		{
		color: #ffffff;
		background-color: #ffffff;
	}
}

@media ( max-width : 767px) {
	.navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
		color: #ffffff;
	}
	.navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
		.navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus
		{
		color: #ffffff;
	}
	.navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active
		{
		color: #ffffff;
		background-color: #ffffff;
	}
}

@media ( max-width : 991px) {
	.navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
		color: #ffffff;
	}
	.navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
		.navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus
		{
		color: #ffffff;
	}
	.navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active
		{
		color: #ffffff;
		background-color: #ffffff;
	}
}

@media ( max-width : 1199px) {
	.navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
		color: #ffffff;
	}
	.navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
		.navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus
		{
		color: #ffffff;
	}
	.navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active
		{
		color: #ffffff;
		background-color: #ffffff;
	}
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
	color: #ffffff;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
	.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
	color: #ffffff;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
	color: #ffffff;
	background-color: #ffffff;
}